VITE_API_BASE_URL=
DATABASE_URL=postgresql://username:password@host/database?sslmode=require
ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-admin-password
BACKEND_API_BASE_URL=https://your-backend-host.example.com
BACKEND_API_USERNAME=your-backend-username
BACKEND_API_PASSWORD=your-backend-password
PORT=3000
